@import "./../../style/color.scss";

.header {
  background-color: $bg1color;
  padding: 30px;
  margin-bottom: 10px;
  .title {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: xx-large;
    font-weight: bolder;
  }
}
