@use "./../../style/color.scss";

.header {
  // background-color: color.$bg1color;
  margin: 0.2em;
  .title {
    margin: 0.2em;
    font-size: 1.5em;
    border-color: color.$accentcolor2;
    border-width: 2px;
    border-style: none none solid;
    a {
      color: inherit;
    }
  }
}
