$bg2color: #111;
$bg1color: #444;
$fontcolor: #f4f4f4;
$fontcolorweak: #999;
$fontcolorstrong: #e22;

$fonthyperlink1: #5dd;
$fonthyperlinkhover1: #bdd;
$fonthyperlink2: $fontcolor;
$fonthyperlinkhover2: $fonthyperlink2;

$accentcolor1: #08f;
$accentcolor2: #0f8;

$codebgcolor: #f00;
$codefontcolor: #f00;
$codebgcolor1: #eee;
$codefontcolor1: #050505;
$codebgcolor2: #222;
$codefontcolor2: #eee;
